{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Electronic Store a Ecommerce Online Shopping Category Bootstrap Responsive Website Template | Home :: w3layouts</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Electronic Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript">
	addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
	function hideURLbar(){ window.scrollTo(0,1); }
</script>
<!-- //for-mobile-apps -->
<!-- Custom Theme files -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/fasthover.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/popuo-box.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/mycss.css' %}" rel="stylesheet" type="text/css" media="all" />


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<!-- //Custom Theme files -->
<!-- font-awesome icons -->
<link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
<script src="https://kit.fontawesome.com/b06605e970.js"></script>

<!-- //font-awesome icons -->
<!-- js -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/jquery.countdown.css' %}" /> <!-- countdown --> 
<!-- //js -->  
<!-- web fonts --> 
<link href='//fonts.googleapis.com/css?family=Glegoo:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- //web fonts -->  
<!-- start-smooth-scrolling -->
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- //end-smooth-scrolling --> 
</head> 
<body>
	<!-- for bootstrap working -->
	<script type="text/javascript" src="{% static 'js/bootstrap-3.1.1.min.js' %}"></script>
	<!-- //for bootstrap working -->

	<!-- header -->
	<div class="header" id="home1">
		<div class="container">
			
			<div class="w3l_logo">
				<h1><a href="index.html">Electronic Store<span>Your stores. Your place.</span></a></h1>
			</div>

			<div class="cart cart box_1"> 
				<form action="#" method="post" class="last"> 
					<input type="hidden" name="cmd" value="_cart" />
					<input type="hidden" name="display" value="1" />
					<button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
				</form>   
			</div> 
			<button class="microphone"><i class="fa fa-microphone" aria-hidden="true"></i></button>
		</div>
	</div>
	<!-- //header -->
	<!-- navigation -->
	
	<nav class="navbar navbar-expand-lg navbar-light" id="bg-nav">
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
		  <ul class="navbar-nav mr-auto ml-auto">
			<!-- <li class="nav-item active">
			  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
			</li> -->
			<li class="nav-item ml-5 mr-5">
			  <a class="nav-link" href="https://in.linkedin.com/in/gautamgupta1811">Gautam</a>
			</li>
			<li class="nav-item ml-5 mr-5">
				<a class="nav-link" href="https://www.linkedin.com/in/prachi0112/">Prachi</a>
			  </li>
		  </ul>
		</div>
	</nav>
	
	<!-- //navigation -->
	<!-- banner -->
	<div class="banner">
		<div class="container">
			<h3>Mobile, Laptops, Cameras <span>Special Offers</span></h3>
		</div>
	</div>
	<!-- //banner --> 
	<!-- banner-bottom -->
	<div class="banner-bottom">
		<div class="container">
			<div class="card text-center">
				<div class="card-header">
				  <ul class="nav nav-tabs card-header-tabs">
					<li class="nav-item" role="presentation">
					  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#mobiles" role="tab" aria-controls="home" aria-selected="true">Mobiles</a>
					</li>
					<li class="nav-item" role="presentation">
					  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#laptops" role="tab" aria-controls="profile" aria-selected="false">Laptops</a>
					</li>
					<li class="nav-item" role="presentation">
						<a class="nav-link" id="contact-tab" data-toggle="tab" href="#cameras" role="tab" aria-controls="contact" aria-selected="false">Cameras</a>
					  </li>
				  </ul>
				</div>
				<div class="card-body">
					<div class="tab-content" id="myTabContent">
						<div class="tab-pane fade show active" id="mobiles" role="tabpanel" aria-labelledby="home-tab">
							<section id="sec5">
								<div class="container">
									<div class="items_card">
										<ul>
											<li>
												<div class="product">
													<a class="img" href="#">
														<img src="https://demo.w3layouts.com/demos_new/template_demo/20-06-2017/elite_shoppy-demo_Free/143933984/web/images/m1.jpg" alt="">
													</a>
													<a class="new" href="#">New</a>
													<a class="quick-view" href="#" data-toggle="modal" data-target="#myModal">
														<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
													</a>
												</div>
												<div class="item-info">
													<h4><a href="#">Formal Blue Shirt</a></h4>
													<p>
														<span class="price">$45.99</span>
														<del>$69.71</del>
													</p>
													<a class="border-anim" href="#">Add to Cart</a>
												</div>
											</li>
											<li>
												<div class="product">
													<a class="img" href="#">
														<img src="https://demo.w3layouts.com/demos_new/template_demo/20-06-2017/elite_shoppy-demo_Free/143933984/web/images/m1.jpg" alt="">
													</a>
													<a class="new" href="#">New</a>
													<a class="quick-view" href="#" data-toggle="modal" data-target="#myModal">
														<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
													</a>
												</div>
												<div class="item-info">
													<h4><a href="#">Formal Blue Shirt</a></h4>
													<p>
														<span class="price">$45.99</span>
														<del>$69.71</del>
													</p>
													<a class="border-anim" href="#">Add to Cart</a>
												</div>
											</li>
											<li>
												<div class="product">
													<a class="img" href="#">
														<img src="https://demo.w3layouts.com/demos_new/template_demo/20-06-2017/elite_shoppy-demo_Free/143933984/web/images/m1.jpg" alt="">
													</a>
													<a class="new" href="#">New</a>
													<a class="quick-view" href="#" data-toggle="modal" data-target="#myModal">
														<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
													</a>
												</div>
												<div class="item-info">
													<h4><a href="#">Formal Blue Shirt</a></h4>
													<p>
														<span class="price">$45.99</span>
														<del>$69.71</del>
													</p>
													<a class="border-anim" href="#">Add to Cart</a>
												</div>
											</li>
											<li>
												<div class="product">
													<a class="img" href="#">
														<img src="https://demo.w3layouts.com/demos_new/template_demo/20-06-2017/elite_shoppy-demo_Free/143933984/web/images/m1.jpg" alt="">
													</a>
													<a class="new" href="#">New</a>
													<a class="quick-view" href="#" data-toggle="modal" data-target="#myModal">
														<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
													</a>
												</div>
												<div class="item-info">
													<h4><a href="#">Formal Blue Shirt</a></h4>
													<p>
														<span class="price">$45.99</span>
														<del>$69.71</del>
													</p>
													<a class="border-anim" href="#">Add to Cart</a>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</section>
						</div>
						<div class="tab-pane fade" id="laptops" role="tabpanel" aria-labelledby="profile-tab">
							<section id="sec5">
								<div class="container">
									<div class="items_card">
										<ul>
											<li>
												<div class="product">
													<a class="img" href="#">
														<img src="https://demo.w3layouts.com/demos_new/template_demo/20-06-2017/elite_shoppy-demo_Free/143933984/web/images/m1.jpg" alt="">
													</a>
													<a class="new" href="#">New</a>
													<a class="quick-view" href="#" data-toggle="modal" data-target="#myModal">
														<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
													</a>
												</div>
												<div class="item-info">
													<h4><a href="#">Formal Blue Shirt</a></h4>
													<p>
														<span class="price">$45.99</span>
														<del>$69.71</del>
													</p>
													<a class="border-anim" href="#">Add to Cart</a>
												</div>
											</li>
											<li>
												<div class="product">
													<a class="img" href="#">
														<img src="https://demo.w3layouts.com/demos_new/template_demo/20-06-2017/elite_shoppy-demo_Free/143933984/web/images/m1.jpg" alt="">
													</a>
													<a class="new" href="#">New</a>
													<a class="quick-view" href="#" data-toggle="modal" data-target="#myModal">
														<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
													</a>
												</div>
												<div class="item-info">
													<h4><a href="#">Formal Blue Shirt</a></h4>
													<p>
														<span class="price">$45.99</span>
														<del>$69.71</del>
													</p>
													<a class="border-anim" href="#">Add to Cart</a>
												</div>
											</li>
											<li>
												<div class="product">
													<a class="img" href="#">
														<img src="https://demo.w3layouts.com/demos_new/template_demo/20-06-2017/elite_shoppy-demo_Free/143933984/web/images/m1.jpg" alt="">
													</a>
													<a class="new" href="#">New</a>
													<a class="quick-view" href="#" data-toggle="modal" data-target="#myModal">
														<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
													</a>
												</div>
												<div class="item-info">
													<h4><a href="#">Formal Blue Shirt</a></h4>
													<p>
														<span class="price">$45.99</span>
														<del>$69.71</del>
													</p>
													<a class="border-anim" href="#">Add to Cart</a>
												</div>
											</li>
											<li>
												<div class="product">
													<a class="img" href="#">
														<img src="https://demo.w3layouts.com/demos_new/template_demo/20-06-2017/elite_shoppy-demo_Free/143933984/web/images/m1.jpg" alt="">
													</a>
													<a class="new" href="#">New</a>
													<a class="quick-view" href="#" data-toggle="modal" data-target="#myModal">
														<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
													</a>
												</div>
												<div class="item-info">
													<h4><a href="#">Formal Blue Shirt</a></h4>
													<p>
														<span class="price">$45.99</span>
														<del>$69.71</del>
													</p>
													<a class="border-anim" href="#">Add to Cart</a>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</section>
						</div>
						<div class="tab-pane fade" id="cameras" role="tabpanel" aria-labelledby="contact-tab">
							<section id="sec5">
								<div class="container">
									<div class="items_card">
										<ul>
											<li>
												<div class="product">
													<a class="img" href="#">
														<img src="https://demo.w3layouts.com/demos_new/template_demo/20-06-2017/elite_shoppy-demo_Free/143933984/web/images/m1.jpg" alt="">
													</a>
													<a class="new" href="#">New</a>
													<a class="quick-view" href="#" data-toggle="modal" data-target="#myModal">
														<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
													</a>
												</div>
												<div class="item-info">
													<h4><a href="#">Formal Blue Shirt</a></h4>
													<p>
														<span class="price">$45.99</span>
														<del>$69.71</del>
													</p>
													<a class="border-anim" href="#">Add to Cart</a>
												</div>
											</li>
											<li>
												<div class="product">
													<a class="img" href="#">
														<img src="https://demo.w3layouts.com/demos_new/template_demo/20-06-2017/elite_shoppy-demo_Free/143933984/web/images/m1.jpg" alt="">
													</a>
													<a class="new" href="#">New</a>
													<a class="quick-view" href="#" data-toggle="modal" data-target="#myModal">
														<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
													</a>
												</div>
												<div class="item-info">
													<h4><a href="#">Formal Blue Shirt</a></h4>
													<p>
														<span class="price">$45.99</span>
														<del>$69.71</del>
													</p>
													<a class="border-anim" href="#">Add to Cart</a>
												</div>
											</li>
											<li>
												<div class="product">
													<a class="img" href="#">
														<img src="https://demo.w3layouts.com/demos_new/template_demo/20-06-2017/elite_shoppy-demo_Free/143933984/web/images/m1.jpg" alt="">
													</a>
													<a class="new" href="#">New</a>
													<a class="quick-view" href="#" data-toggle="modal" data-target="#myModal">
														<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
													</a>
												</div>
												<div class="item-info">
													<h4><a href="#">Formal Blue Shirt</a></h4>
													<p>
														<span class="price">$45.99</span>
														<del>$69.71</del>
													</p>
													<a class="border-anim" href="#">Add to Cart</a>
												</div>
											</li>
											<li>
												<div class="product">
													<a class="img" href="#">
														<img src="https://demo.w3layouts.com/demos_new/template_demo/20-06-2017/elite_shoppy-demo_Free/143933984/web/images/m1.jpg" alt="">
													</a>
													<a class="new" href="#">New</a>
													<a class="quick-view" href="#" data-toggle="modal" data-target="#myModal">
														<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
													</a>
												</div>
												<div class="item-info">
													<h4><a href="#">Formal Blue Shirt</a></h4>
													<p>
														<span class="price">$45.99</span>
														<del>$69.71</del>
													</p>
													<a class="border-anim" href="#">Add to Cart</a>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</section>
						</div>
					</div>
				</div>
			  </div>
		</div>
	</div>
	<!-- //banner-bottom -->


	<!-- modal-video -->
	<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
				</div>
				<section>
					<div class="modal-body">
						<div class="col-md-5 modal_body_left">
							<img src="{% static 'images/3.jpg' %}" alt=" " class="img-responsive" />
						</div>
						<div class="col-md-7 modal_body_right">
							<h4>The Best Mobile Phone 3GB</h4>
							<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
								commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
							<div class="rating">
								<div class="rating-left">
									<img src="{% static 'images/star-.png' %}" alt=" " class="img-responsive" />
								</div>
								<div class="rating-left">
									<img src="{% static 'images/star-.png' %}" alt=" " class="img-responsive" />
								</div>
								<div class="rating-left">
									<img src="{% static 'images/star-.png' %}" alt=" " class="img-responsive" />
								</div>
								<div class="rating-left">
									<img src="{% static 'images/star.png' %}" alt=" " class="img-responsive" />
								</div>
								<div class="rating-left">
									<img src="{% static 'images/star.png' %}" alt=" " class="img-responsive" />
								</div>
								<div class="clearfix"> </div>
							</div>
							<div class="modal_body_right_cart simpleCart_shelfItem">
								<p><span>$380</span> <i class="item_price">$350</i></p>
								<form action="#" method="post">
									<input type="hidden" name="cmd" value="_cart">
									<input type="hidden" name="add" value="1"> 
									<input type="hidden" name="w3ls_item" value="Mobile Phone1"> 
									<input type="hidden" name="amount" value="350.00">   
									<button type="submit" class="w3ls-cart">Add to cart</button>
								</form>
							</div>
							<h5>Color</h5>
							<div class="color-quality">
								<ul>
									<li><a href="#"><span></span></a></li>
									<li><a href="#" class="brown"><span></span></a></li>
									<li><a href="#" class="purple"><span></span></a></li>
									<li><a href="#" class="gray"><span></span></a></li>
								</ul>
							</div>
						</div>
						<div class="clearfix"> </div>
					</div>
				</section>
			</div>
		</div>
	</div>
	<!-- //modal-video -->
	<!-- banner-bottom1 -->
	<div class="banner-bottom1">
		<div class="agileinfo_banner_bottom1_grids">
			<div class="col-md-7 agileinfo_banner_bottom1_grid_left">
				<!-- <h3>Grand Opening Event With flat<span>20% <i>Discount</i></span></h3> -->
				<a href="products.html" style="font-size: 30px;">Shop Now</a>
			</div>
			<div class="col-md-5 agileinfo_banner_bottom1_grid_right">
				<h4>hot deal</h4>
				<div class="timer_wrap">
					<div id="counter"> </div>
				</div>
				<script src="{% static 'js/jquery.countdown.js' %}"></script>
				<script src="{% static 'js/script.js' %}"></script>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //banner-bottom1 --> 
	<!-- special-deals -->
	<div class="special-deals">
		<div class="container">
			<h2>Special Deals</h2>
			<div class="w3agile_special_deals_grids">
				<div class="col-md-7 w3agile_special_deals_grid_left">
					<div class="w3agile_special_deals_grid_left_grid">
						<img src="{% static 'images/21.jpg' %}" alt=" " class="img-responsive" />
						<div class="w3agile_special_deals_grid_left_grid_pos1">
							<h5>30%<span>Off/-</span></h5>
						</div>
						<div class="w3agile_special_deals_grid_left_grid_pos">
							<h4>We Offer <span>Best Products</span></h4>
						</div>
					</div>
					<div class="wmuSlider example1">
						<div class="wmuSliderWrapper">
							<article style="position: absolute; width: 100%; opacity: 0;"> 
								<div class="banner-wrap">
									<div class="w3agile_special_deals_grid_left_grid1">
										<img src="{% static 'images/t1.png' %}" alt=" " class="img-responsive" />
										<p>Quis autem vel eum iure reprehenderit qui in ea voluptate 
											velit esse quam nihil molestiae consequatur, vel illum qui dolorem 
											eum fugiat quo voluptas nulla pariatur</p>
										<h4>Laura</h4>
									</div>
								</div>
							</article>
							<article style="position: absolute; width: 100%; opacity: 0;"> 
								<div class="banner-wrap">
									<div class="w3agile_special_deals_grid_left_grid1">
										<img src="{% static 'images/t2.png' %}" alt=" " class="img-responsive" />
										<p>Quis autem vel eum iure reprehenderit qui in ea voluptate 
											velit esse quam nihil molestiae consequatur, vel illum qui dolorem 
											eum fugiat quo voluptas nulla pariatur</p>
										<h4>Michael</h4>
									</div>
								</div>
							</article>
							<article style="position: absolute; width: 100%; opacity: 0;"> 
								<div class="banner-wrap">
									<div class="w3agile_special_deals_grid_left_grid1">
										<img src="{% static 'images/t3.png' %}" alt=" " class="img-responsive" />
										<p>Quis autem vel eum iure reprehenderit qui in ea voluptate 
											velit esse quam nihil molestiae consequatur, vel illum qui dolorem 
											eum fugiat quo voluptas nulla pariatur</p>
										<h4>Rosy</h4>
									</div>
								</div>
							</article>
						</div>
					</div>
						<script src="{% static 'js/jquery.wmuSlider.js' %}"></script> 
						<script>
							$('.example1').wmuSlider();         
						</script> 
				</div>
				<div class="col-md-5 w3agile_special_deals_grid_right">
					<!-- <img src="{% static 'images/20.jpg' %}" alt=" " class="img-responsive" /> -->
					<img style="height: 596px;" src="{% static 'images/big-sale.jpg' %}">
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //special-deals -->
	<!-- new-products -->
	<div class="new-products">
		<div class="container">
			<h3>New Products</h3>
			<div class="agileinfo_new_products_grids">
				<div class="col-md-3 agileinfo_new_products_grid">
					<div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">
						<div class="hs-wrapper hs-wrapper1">
							<img src="{% static 'images/25.jpg' %}" alt=" " class="img-responsive" />
							<div class="w3_hs_bottom w3_hs_bottom_sub">
								<ul>
									<li>
										<a href="#" data-toggle="modal" data-target="#myModal2"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
									</li>
								</ul>
							</div>
						</div>
						<h5><a href="single.html">Laptops</a></h5>
						<div class="simpleCart_shelfItem">
							<p><span>$520</span> <i class="item_price">$500</i></p>
							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="add" value="1"> 
								<input type="hidden" name="w3ls_item" value="Red Laptop"> 
								<input type="hidden" name="amount" value="500.00">   
								<button type="submit" class="w3ls-cart">Add to cart</button>
							</form>
						</div>
					</div>
				</div>
				<div class="col-md-3 agileinfo_new_products_grid">
					<div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">
						<div class="hs-wrapper hs-wrapper1">
							<img src="{% static 'images/27.jpg' %}" alt=" " class="img-responsive" />
							<div class="w3_hs_bottom w3_hs_bottom_sub">
								<ul>
									<li>
										<a href="#" data-toggle="modal" data-target="#myModal"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
									</li>
								</ul>
							</div>
						</div>
						<h5><a href="single.html">Black Phone</a></h5>
						<div class="simpleCart_shelfItem">
							<p><span>$380</span> <i class="item_price">$370</i></p>
							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="add" value="1"> 
								<input type="hidden" name="w3ls_item" value="Black Phone"> 
								<input type="hidden" name="amount" value="370.00">   
								<button type="submit" class="w3ls-cart">Add to cart</button>
							</form>
						</div>
					</div>
				</div>
				<div class="col-md-3 agileinfo_new_products_grid">
					<div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">
						<div class="hs-wrapper hs-wrapper1">
							<img src="{% static 'images/34.jpg' %}" alt=" " class="img-responsive" />
							<div class="w3_hs_bottom w3_hs_bottom_sub">
								<ul>
									<li>
										<a href="#" data-toggle="modal" data-target="#myModal5"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
									</li>
								</ul>
							</div>
						</div>
						<h5><a href="single.html">Kids Toy</a></h5>
						<div class="simpleCart_shelfItem">
							<p><span>$150</span> <i class="item_price">$100</i></p>
							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="add" value="1"> 
								<input type="hidden" name="w3ls_item" value="Kids Toy"> 
								<input type="hidden" name="amount" value="100.00">   
								<button type="submit" class="w3ls-cart">Add to cart</button>
							</form>
						</div>  
					</div>
				</div>
				<div class="col-md-3 agileinfo_new_products_grid">
					<div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">
						<div class="hs-wrapper hs-wrapper1">
							<img src="{% static 'images/37.jpg' %}" alt=" " class="img-responsive" />
							<div class="w3_hs_bottom w3_hs_bottom_sub">
								<ul>
									<li>
										<a href="#" data-toggle="modal" data-target="#myModal6"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
									</li>
								</ul>
							</div>
						</div>
						<h5><a href="single.html">Induction Stove</a></h5>
						<div class="simpleCart_shelfItem">
							<p><span>$280</span> <i class="item_price">$250</i></p>
							<form action="#" method="post">
								<input type="hidden" name="cmd" value="_cart">
								<input type="hidden" name="add" value="1"> 
								<input type="hidden" name="w3ls_item" value="Induction Stove"> 
								<input type="hidden" name="amount" value="250.00">   
								<button type="submit" class="w3ls-cart">Add to cart</button>
							</form>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //new-products -->

	<!-- newsletter -->
	<div class="newsletter">
		<div class="container">
			<div class="col-md-6 w3agile_newsletter_left">
				<h3>Newsletter</h3>
				<p>Connect with Us</p>
			</div>
			<div class="col-md-6 w3agile_newsletter_right">
				<form action="#" method="post">
					<input type="email" name="Email" placeholder="Email" required="">
					<input type="submit" value="" />
				</form>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
	<!-- //newsletter -->

	<!-- footer -->
	<div class="footer">
		<div class="container">
			<div class="w3_footer_grids">
				<div class="col-md-3 w3_footer_grid mr-5">
					<h3>Contact</h3>
					<p>Bharati Vidyapeeth's College of Engineering.</p>
					<ul class="address">
						<li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>New Delhi, India.</li>
						<!-- <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">info@example.com</a></li> -->
						<!-- <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+1234 567 567</li> -->
					</ul>
				</div>
				<div class="col-md-3 w3_footer_grid ml-5">
					<h3>Category</h3>
					<ul class="info"> 
						<li><a href="products.html">Mobiles</a></li>
						<li><a href="products1.html">Laptops</a></li>
						<li><a href="products.html">Cameras</a></li>
					</ul>
				</div>
				<div class="col-md-3 w3_footer_grid">
					<h3 id="profile_heading">Profile</h3>
					<div class="row">
						<div class="col">
							<div>
								<h6 class="ml-2" style="color: darkslateblue; font-weight: 500;">Gautam</h6>
							</div>
							<div>
								<ul class="d-flex" id="profile_icons">
									<li><a href="https://github.com/gautamgupta1811"><i class="fab fa-github"></i></a></li>
									<li><a href="https://in.linkedin.com/in/gautamgupta1811"><i class="fab fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
						<div class="col">
							<div>
								<h6 class="ml-2" style="color: darkslateblue; font-weight: 500;">Prachi</h6>
							</div>
							<div>
								<ul class="d-flex" id="profile_icons">
									<li><a href="https://github.com/prachi0112"><i class="fab fa-github"></i></a></li>
									<li><a href="https://www.linkedin.com/in/prachi0112/"><i class="fab fa-linkedin"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="footer-copy">
			<div class="footer-copy1">
				<div class="footer-copy-pos">
					<a href="#home1" class="scroll"><img src="{% static 'images/arrow.png' %}" alt=" " class="img-responsive" /></a>
				</div>
			</div>
			<div class="container">
				<p>&copy; 2017 Electronic Store. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
			</div>
		</div>
	</div>
	<!-- //footer --> 
	<!-- cart-js -->
	<script src="{% static 'js/minicart.js' %}"></script>
	<script>
        w3ls.render();

        w3ls.cart.on('w3sb_checkout', function (evt) {
        	var items, len, i;

        	if (this.subtotal() > 0) {
        		items = this.items();

        		for (i = 0, len = items.length; i < len; i++) { 
        		}
        	}
        });
    </script>  
	<!-- //cart-js -->   
</body>
</html>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

